*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px red; */

}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.App{
  min-height: 100vh;
  text-align: center;
  justify-content:center;
  align-items:center;
}

.container{
    min-height: 100vh;
    text-align: center;
    justify-content:center;
    align-items:center;
    
}

.getcontainer{
  min-height: 100vh;
  text-align: center;
  justify-content:center;
  align-items:center;

}
.box-dashboard{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  min-width:70ch;
  height: 100%;
  border: solid 1px #cc644a;
  background-image: url("./images/freight.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 8px 25px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 20px;
  padding: 20px;
  position: relative;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}
.box-dashboard-2{
  display:flex;
  /* justify-content:center; */
  flex-direction: column;
  align-items:center;
  min-width:20ch;
  height: 90vh;
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 5px;
  padding: 20px;
  margin-top:  20px;
  object-fit: cover;
  background-image: url("./images/maps.png") ;
}
.wrapper{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  min-width:70ch;
  background-size: cover;
  background-image: url("./images/freight-bg.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 25px 3px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 20px;
  padding: 20px;
}
.confirmation{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  min-width:70ch;
  height: 70vh;
  background-size: cover;
  background-image: url("./images/freight-bg.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 25px 3px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 20px;
  padding: 20px;
  color:rgb(255, 255, 255);

}
.wrapper2{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  min-width:70ch;
  min-height:90vh;
  background-size: cover;
  background-image: url("./images/freight-bg3.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 25px 3px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 20px;
  padding: 20px;
  border: ridge  black 10px;
}


.box-dashboard-3{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  width:100%;
  height: 110vh;
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 5px;
  margin-top:  20px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/maps.png") ;
}


img{
  object-fit: cover;
}

.header{
  text-align: center;
  align-items:center;
  display: flex;
  position: sticky;
  justify-content:space-between;  
  background: #016fb9;
  background: linear-gradient(90deg,#016fb9 0%, #22aed1 80%);
  background: -webkit-linear-gradient(90deg,#016fb9 0%, #22aed1 80%);
  background: -moz-linear-gradient(90deg,#016fb9 0%, #22aed1 80%);
}

.circle{
  border-radius: 100%;
  width: 15%;
  height: 40%;
  margin: 20px;
}

table {
  position:relative;
  font-family: 'Mulish', sans-serif;
  padding: 0.3rem;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}


.blob{
  background-image: url("./images/blob\ \(1\).svg");
  width:100ch;
  padding: 40px;
  display: flex;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.waves{
  overflow: hidden;
}

td, th {  
  border-radius: 1px;
  width: 15ch;
  height: 2vh;
  padding: 0.5rem;
  border: 2px solid;
  border-color: #3a3434;
  background-color: #afa98df3;
}
thead{
  font-size: 1.1rem;
  font-weight: 900;
}
tbody tr:hover{
  color: white;
  background-color: #444a50f5;
  width: 300px;
  box-shadow: 0 2px 15px 0 rgba( 31, 38, 135, 0.37 );
}

.reserved{
  border: 3px solid #4f535857;
  background: #c24a4a;
  color: rgb(7, 4, 4);
}
.reserved:hover{
  border: 3px solid #4f535857;
  background: #c24a4a;
  color: rgb(124, 115, 115);
}
.reserved-status{
  background: #c24a4a;
}

#id{
    font-family: 'Mulish', sans-serif;

}
.reserved-status:hover{
  background: #c22323;
  color: rgb(7, 4, 4);
}

main{
  display: flex;
  min-height: 100vh;
  padding-top: 75px;
  position: relative;
  justify-content:space-evenly;
  flex-direction: row;
  background-image: url("./images/maps.png");
}



form input, select {
  position:relative;
  width: 50ch;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 10px;
}

select{
  position:relative;
  width: 50ch;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 10px;
}

.big-text{
  position:relative;
  font-family: 'Mulish', sans-serif;
  color: white;
  margin-bottom: 30px;
  text-shadow: 2px 5px 4px rgb(1, 2, 4);
}

.main-text{
  font-family: 'Ubuntu', sans-serif;
  color: #182825;
  margin-bottom: 30px;
  font-size: 4rem;
  text-shadow: 1px 1px 2px rgb(1, 2, 4);
}

.getall-main-text{
  font-family: 'Ubuntu', sans-serif;
  color: #182825;
  font-size: 4rem;
  text-shadow: 1px 1px 2px rgb(1, 2, 4);
}
.main-text2{
  font-family: 'Mulish', sans-serif;  
  color: #182825;
  margin-bottom: 30px;
  font-size: 4rem;
  text-shadow: 1px 1px 2px rgb(1, 2, 4);
}

.main-text-details{
  background-color: #2F2F2F;
  font-family: 'Mulish', sans-serif;  
  color: #eeeeee;
  font-size: 3rem;
  border-radius: 5px;
  margin: 40px;
  text-shadow: 1px 1px 2px rgb(1, 2, 4);
}
.error-text{
  color: rgb(250, 250, 250);
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: left;
  font-weight: 500;
  background-color: #a04b4b;
}

input:focus{
  background-color: rgb(197, 197, 197);
  border-color: rgb(130, 10, 10);
}


input:hover{
  background-color: rgb(197, 197, 197);
  border-color: rgb(130, 10, 10);
}

.text{
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: left;
  font-weight: 500;
  text-shadow: 1px 4px 2px  #000;
}


.text2{
  color: white;
  font-size: 1.1rem;
  font-family: 'Mulish', sans-serif;
  display: flex;
  font-size: 1.5rem;
  justify-content: left;
  font-weight: 700;
}

.text3{
  font-size: 1.1rem;
  font-family: 'Mulish', sans-serif;
  display: flex;
  font-size: 1.5rem;
  justify-content: left;
  font-weight: 700;
}

button{
  font-size: 1.1rem;
  font-weight: 650;
  margin: 20px;
  font-family: 'Mulish', sans-serif;
  color: rgb(255, 255, 255);
  width: 25ch;
  height: 3rem;
  border-radius: 0.5rem;
  border: solid gray;
  color: rgba(255, 255, 255, 0.96);
  background: #1a5cc0;
  box-shadow:  2px 5px 4px black;
}
button:hover{
  font-size: 1.1rem;
  border: 3px solid #1a5cc0;
  background: #d4dfee;
  color: rgb(7, 4, 4);
}

.add-btn{
  font-size: 1.1rem;
  font-weight: 650;
  margin: 20px;
  font-family: 'Mulish', sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border: solid gray;
  color: rgba(255, 255, 255, 0.96);
  background: #150578;
  box-shadow:  2px 5px 4px black;
  width: 22ch;
  height: 2rem;
}
.add-btn:hover{
  font-size: 1.1rem;
  border: 3px solid #6D8EA0;
  background: #d4dfee;
  color: rgb(7, 4, 4);  
  width: 22ch;
  height: 2rem;
}
.image-centered{
  align-items: center;

}

.inquire-btn{
  font-size: 1.1rem;
  font-weight: 650;
  margin: 20px;
  font-family: 'Mulish', sans-serif;
  color: rgb(255, 255, 255);
  width: 25ch;
  height: 3rem;
  border-radius: 0.5rem;
  border: solid gray;
  color: rgba(255, 255, 255, 0.96);
  background: #150578;
  box-shadow:  2px 5px 4px black;
  border-radius: 20px;
}
.inquire-btn:hover{
  font-size: 1.1rem;
  border: 3px solid #6D8EA0;
  background: #d4dfee;
  color: rgb(7, 4, 4);  
}

.btn-div{
  display: inline-block;
}

.logout{
  margin: 20px;
  font-family: 'Mulish', sans-serif;
  color: rgb(0, 0, 0);
  width: 25ch;
  height: 3rem;
  border-radius: 1rem;
  border: solid gray;
  color: rgba(255, 255, 255, 0.96);
  background: #a04b4b;
  box-shadow:  2px 5px 4px black;

}

.logout:hover{
  border: 3px solid #1a5cc0;
  background: #df3933;
  color: rgb(7, 4, 4);

}

.font-mod{
  font-size: 1.1rem;
  font-weight:600;
  font-family: 'Mulish', sans-serif;
  align-items: center;
  text-align: center;
}


.font-mod2{
  font-size: 1.1rem;
  font-weight:600;
  font-family: 'Mulish', sans-serif;
  padding: 3px; 
}


.font-mod3{
  display: inline;
  font-size: 1.7rem;
  margin-left: 15px;
  font-weight:600;
  font-family: 'Mulish', sans-serif;
}

.font-mod4{
  display: flex;
  margin-left: 15px;
  font-size: 1.7rem;
  font-weight:600;
  font-family: 'Mulish', sans-serif;
}

.text-wrapper{
  width: 75ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-start{ 
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  margin: 10px;
  align-items: center;
  text-align: center;
}


.flex-start2{ 
  display: flex;
  flex-direction:row;
  margin: 10px;
  align-items: center;
  text-align: center;
}