*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px red; */

}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.App , .container{
  min-height: 100vh;
  text-align: center;
  justify-content:center;
  align-items:center;
}

.getcontainer{
  min-height: 100vh;
  text-align: center;
  justify-content:center;
  align-items:center;

}
.box-dashboard{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  min-width:80ch;
  min-height: 65vh;
  border: solid 1px #cc644a;
  background-image: url("./images/freight.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 8px 25px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 20px;
  padding: 20px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}
.box-dashboard-2{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  min-width:20ch;
  min-height: 0vh;
  backdrop-filter: blur( 16.0px );
  -webkit-backdrop-filter: blur( 16.0px );
  border-radius: 5px;
  padding: 20px;
  margin-top:  20px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
img{
  object-fit: cover;
}

.header{
  text-align: center;
  align-items:center;
  display: flex;
  position: sticky;
  justify-content:space-between;
  margin-bottom: 30px;
}


table {
  position:relative;
  font-family: 'Mulish', sans-serif;
  padding: 0.3rem;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}


.blob{
  background-image: url("./images/blob\ \(1\).svg");
  width:100ch;
  padding: 40px;
  display: flex;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


td, th {  
  border-radius: 5px;
  width: 15ch;
  height: 2vh;
  padding: 0.5rem;
  border: 2px solid;
  border-color: #1d1d202a;
  background-color: #4f535821;
}
thead{
  font-size: 1.1rem;
  font-weight: 900;
}
tbody tr:hover{
  color: white;
  background-color: #4f5358dc;
  width: 300px;
  box-shadow: 0 2px 15px 0 rgba( 31, 38, 135, 0.37 );
}

.reserved{
  border: 3px solid #4f535857;
  background: #c24a4a;
  color: rgb(7, 4, 4);
}
.reserved:hover{
  border: 3px solid #4f535857;
  background: #c24a4a;
  color: rgb(124, 115, 115);
}
.reserved-status{
  background: #c24a4a;
}

#id{
    font-family: 'Mulish', sans-serif;

}
.reserved-status:hover{
  background: #c22323;
  color: rgb(7, 4, 4);
}

main{
  display: flex;
  position: relative;
  justify-content:space-evenly;
  flex-direction: row;
}



form input, select {
  position:relative;
  width: 50ch;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 10px;
}

select{
  position:relative;
  width: 50ch;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 10px;
}

.big-text{
  position:relative;
  font-family: 'Mulish', sans-serif;
  color: white;
  margin-bottom: 30px;
  text-shadow: 2px 5px 4px rgb(1, 2, 4);
}

.main-text{
  font-family: 'Mulish', sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  font-size: 4rem;
  text-shadow: 1px 1px 2px rgb(1, 2, 4);
}

.error-text{
  color: rgb(250, 250, 250);
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: left;
  font-weight: 500;
  background-color: #a04b4b;
}

input:focus{
  background-color: rgb(197, 197, 197);
  border-color: rgb(130, 10, 10);
}


input:hover{
  background-color: rgb(197, 197, 197);
  border-color: rgb(130, 10, 10);
}

.text{
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: left;
  font-weight: 500;
  text-shadow: 1px 4px 2px  #000;
}


button{
  font-size: 1.1rem;
  font-weight: 650;
  margin: 20px;
  font-family: 'Mulish', sans-serif;
  color: rgb(255, 255, 255);
  width: 25ch;
  height: 3rem;
  border-radius: 0.5rem;
  border: solid gray;
  color: rgba(255, 255, 255, 0.96);
  background: #1a5cc0;
  box-shadow:  2px 5px 4px black;
}
button:hover{
  font-size: 1.1rem;
  border: 3px solid #1a5cc0;
  background: #d4dfee;
  color: rgb(7, 4, 4);
}



.logout{
  margin: 20px;
  font-family: 'Mulish', sans-serif;
  color: rgb(0, 0, 0);
  width: 25ch;
  height: 3rem;
  border-radius: 1rem;
  border: solid gray;
  color: rgba(255, 255, 255, 0.96);
  background: #a04b4b;
  box-shadow:  2px 5px 4px black;

}

.logout:hover{
  border: 3px solid #1a5cc0;
  background: #df3933;
  color: rgb(7, 4, 4);

}